body{
    margin: 0;

}

header{
    display: flex;
    justify-content: space-between;    
    color: whitesmoke;
    padding: 1em;
}

.logo-container{
    display: flex;
    align-items: center;
}

.main-section{
    padding: 0 10%;

}

.responsive-section-1 , .responsive-section-2 , .responsive-section-3{
    height: 500px;
    width: 500px;
}

/* .responsive-section-1{
    
}
.responsive-section-2{
    
}
.responsive-section-3{
    
} */

/* nav{
    display: flex;
}
nav div{
    margin: 2em;
    padding: 1em;
} */

.space{
    padding: 1em;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.textblock{
    display: inline-block;
    margin: 0;
}